<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><wordcollector.Components.Furigana kanji="単語" furigana="たんご"/>コレクター</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ホーム
            </NavLink>
        </div>
        <nav class="flex-column">
            <NavLink class="nav-link" href="">ホーム </NavLink>
            <NavLink class="nav-link" href="translation-form">翻訳 フォーム</NavLink>
            <NavLink class="nav-link" href="translation-list">翻訳 リスト</NavLink>
        </nav>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
